
<form name="form1" action="." method="GET" class="form-horizontal" id="doctors">{% csrf_token %}

    <div class="form-group">
        <div class="col-sm-12"> {# was 10 originally with label #}
            <input type="text" name="hostname" class="form-control" id="hostname" placeholder="Pick a host">
        </div>

        <br>
        <div class="span7 text-center">
            <input class="btn btn-info btn-lg" type="submit" name="submit" value="Submit">
        </div>
    </div>

</form>


<table class="table bootstrap-datatable datatable">
      <thead>
        <tr>
{% if not instances %}
        <div class="col-xs-11 col-xs-offset-1">
        <hr></hr>
            No instances configured
        </div>
        </tr>
{% else %}
          <th>Name</th>
          <th>Overall</th>
          <th>Active checks</th>
          <th>Disabled checks</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for instance in instances %}
        <tr class="enabled">
          <td>
            <a href="{% url "instance" pk=instance.id %}" title="Alerts {% if instance.alerts_enabled %}enabled{% else %}disabled{% endif %}">{{instance.name}} </a>
          </td>
          <td>
            <span class="label label-{% if instance.overall_status == instance.PASSING_STATUS %}success{% else %}danger{% endif %}">{{ instance.overall_status|lower|capfirst }}</span>
          </td>
          <td>
            <span class="label label-{% if instance.active_status_checks.all.count > 0 %}{% if instance.overall_status != instance.PASSING_STATUS %}danger{% else %}success{% endif %}{% else %}default{% endif %}">{{ instance.active_status_checks.all.count }}</span>
          </td>
          <td>
            <span class="label label-{% if instance.inactive_status_checks.all.count > 0 %}warning{% else %}default{% endif %}">{{ instance.inactive_status_checks.all.count }}</span>
          </td>
          <td class="text-right">
            <a class="btn btn-xs" href="{% url "update-instance" pk=instance.id %}" role="button">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
{% endif %}
    </table>

    <ul class="pagination pagination-centered">
        {% if instances.has_previous %}
            <li><a href="?page=1"><<</a></li>
            <li><a href="?page={{ data.previous_page_number }}">previous</a></li>
        {% endif %}

            <li>Page {{ instances.number }} of {{ instances.paginator.num_pages }}.</li>



        {% if instances.has_next %}
            <li><a href="?page={{ instances.next_page_number }}">next</a></li>
            <li><a href="?page={{ instances.paginator.num_pages }}">>></a></li>
        {% endif %}
    </ul>
